@color-1: #000;
@color-2: #426b1f;
@color-3: #fff;
@margin-sm: 12px;

.wrapper3 {
  align-self: center;
  width: 500px;
  margin-top: 84px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-left: 2px;
  background-color: @color-3;
  line-height: 2;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
}

.aboutTitle {
  white-space: nowrap;
  color: @color-1;
  font-size: 26px;
}

.aboutDescription {
  align-self: center;
  margin-top: 2px;
  margin-right: 68px;
  margin-left: 68px;
  color: @color-1;
  font-size: 30.5px;
}

.browseButton {
  align-self: center;
  height: 32px;
  margin-top: @margin-sm;
  border: none;
  background-color: @color-2;
  color: @color-3;
  font-size: 8px;
}
